/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap");

@font-face {
  font-family: Visby;
  src: url(./assets/visbycf-font/visbycf-light.otf),
    url(./assets/visbycf-font/visbycf-thin.otf),
    url(./assets/visbycf-font/visbycf-regular.otf),
    url(./assets/visbycf-font/visbycf-medium.otf),
    url(./assets/visbycf-font/visbycf-bold.otf),
    url(./assets/visbycf-font/visbycf-demibold.otf),
    url(./assets/visbycf-font/visbycf-extrabold.otf),
    url(./assets/visbycf-font/visbycf-heavy.otf);
}

/*=============== MEDIA QUERIES ===============*/

/*========== Tablet ==========*/
@media screen and (min-width: 768px) {
}

/*========== Desktop ==========*/
@media screen and (min-width: 1200px) {
}

/*=============== GLOBAL TAGS AND CLASSES ===============*/

:root {
  /*========== Primary colors ==========*/
  --hue: 200;
  --blue: hsl(var(--hue), 100%, 50%);
  --purple: hsl(calc(var(--hue) + 81), 100%, 37%);
  --white-cream: #f2f5fb;
  --white-cream-02: #eaeef7;
  --black: #121214;
  --gray: #8c8c8c;

  /*========== Text colors ==========*/
  --dark-texts: #22343d;
  --light-texts: hsla(200, 28%, 19%, 0.4);

  /*========== Font and typography ==========*/
  --body-font: "DM Sans", sans-serif;
  --font-headline: "Visby CF", sans-serif;
  --font-paragraph: Nunito, sans-serif;
  --font-secondary: Poppins, sans-serif;

  font-size: 62.5%; /* de 16 pra 10 pixels */

  /*========== Border-radius ==========*/
  --border-1: 1rem;
  --border-2: 2rem;
  --border-25: 2.5rem;
  --border-5: 5rem;

  /*========== Faixa-y-space ==========*/
  --faixa-space: -8rem;
  --color-bg: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  appearance: none;
  text-decoration: none;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  z-index: -2;

  font-family: sans-serif;
  font-size: 1.6rem; /* 10px * 1.6 = 16px padrão */

  text-align: center;

  background: var(--white-cream);

  scroll-behavior: smooth;
}

.wrapper {
  width: min(60rem, 100%);
  max-width: 120rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

a,
button {
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

h1 {
  font-family: Visby, sans-serif;
}

.button {
  margin-top: 5rem;
  position: relative;
  width: fit-content;
  display: inline-block;
  padding: 1.6rem 2.4rem;
  background: linear-gradient(268.11deg, #00aaff 0%, #580082 100%);
  border-radius: 0.8rem;

  font-family: var(--font-secondary);
  font-size: 1.4rem;
  color: white;
  font-weight: 700;

  z-index: 100;

  transition: all 300ms;
}

@keyframes play-button {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.play-button {
  animation: play-button;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.play-button:hover,
.button:hover {
  transform: scale(1.1);
}

/*=============== #.WPP ===============*/

.wpp {
  display: inline-block;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 999;
  border-radius: 50%;
  background: #25d366;

  display: grid;
  place-items: center;
  padding: 1rem;
}

.wpp:hover {
  background: #128c7e;
}

.wpp svg {
  width: 3rem;
  height: 3rem;
}

/*=============== #LIGHTBOX ===============*/

body.video .lightbox {
  visibility: visible;
  opacity: 1;
}

.lightbox {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 300;

  transition: opacity 500ms;
}

.lightbox::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.8);
}

.lightbox .close-button {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 300;
}

.lightbox iframe {
  margin: auto;
  top: 50%;
  /* left: 0; */
  transform: translateY(-50%);
  width: 90vw;
  height: 50.63vw;
  max-width: 920px;
  max-height: 690px;
  position: relative;
  z-index: 2;
}

/*=============== #HOME ===============*/

#home {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 31.87%,
    rgba(0, 0, 0, 1) 61.86%
  );
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  position: relative;
}

#home .square {
  display: none;
  position: absolute;
  z-index: 0;
  bottom: 5rem;
  left: -14rem;
  filter: blur(20px);
  transform: rotate(60deg);
  width: 20rem;
}

/* Para adicionar uma imagem de fundo e poder manipular sem interferir no grandiente preto do #home */
#home::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* vai atrás dos elementos que estão no z: 0 padrão*/
  background: url(./assets/backgrounds/main-background-mobile.png);
  background-size: 190%;
  background-repeat: no-repeat;
  background-position-x: center;
}

/* Para ter um background preto e não bugar o before, caso o vw seja muito pequeno */
#home::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background: black;
}

#home .wrapper {
  margin-bottom: 5rem;
}

#home .wrapper .play-button {
  margin-top: 25rem;
  display: inline-block;

  cursor: pointer;
  transition: all 300ms;
}

#home .wrapper .play-button img {
  width: 20rem;
  max-width: 30rem;
  max-height: 30rem;
}

#home .wrapper .content {
}

#home .wrapper .content .logo {
  position: absolute;
  top: 2.4rem;
}

#home .wrapper .content .logo img {
  width: 9rem;
  /* height: fit-content; */
}

#home .wrapper .content h1 {
  font-family: var(--font-headline);
  color: white;
  font-size: 2.6rem;
  font-weight: 900;
}

#home .wrapper .content h1 span {
  background-image: linear-gradient(270deg, #00aaff 37.75%, #a221df 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#home .wrapper .content p {
  font-family: var(--font-paragraph);
  color: white;
  font-size: 1.4rem;

  margin-top: 1rem;
}

#home .wrapper .content .button {
  margin-top: 5rem;
}

#home .wrapper .content .hotmart-safe {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#home .wrapper .content .hotmart-safe .img {
  width: 9rem;
}

#home .wrapper .content .hotmart-safe .line {
  width: 1px;
  height: 2rem;
  background: var(--gray);
}

#home .wrapper .content .hotmart-safe p {
  font-family: var(--font-paragraph);
  font-size: 1.2rem;
  color: var(--gray);
  margin-top: 0;
}

/*=============== .FAIXA ===============*/

.faixa {
  position: relative;
  overflow: visible;
  left: -1rem;
  padding-block: 1rem;
  padding-inline: 2rem;
  transform: rotate(1.25deg);
  z-index: 100;
  width: 266rem;
}

.faixa .faixa-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.faixa::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 150vw;
  height: 100%;
  z-index: -1;
  background: linear-gradient(89.87deg, #82007a 0.01%, #00aaff 99.98%);
}

.faixa p {
  font-family: var(--font-secondary);
  font-size: 1.2rem;
  font-weight: 700;
  color: white;

  white-space: nowrap;
}

.faixa svg {
  width: 2rem;
  height: 2rem;
}

/*=============== #SEGREDOS-OCULTOS ===============*/

#segredos-ocultos {
  position: relative;
  overflow-x: visible;
  padding-bottom: 10rem;
  z-index: -1;
}

#segredos-ocultos::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 120%;
  background: url(./assets/backgrounds/segredos-ocultos-background-mobile.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}

#segredos-ocultos .wrapper {
  margin-top: 5rem;
}

#segredos-ocultos .head {
}

#segredos-ocultos .head .img {
}

#segredos-ocultos .head h2 {
  font-family: var(--font-secondary);
  color: white;
  font-size: 2.4rem;
}

#segredos-ocultos .cards {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  margin-top: 7rem;
}

#segredos-ocultos .cards .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
}

#segredos-ocultos .cards .card img {
  width: 4.5rem;
  height: auto;
  min-width: 4.5rem;
  min-height: 4.5rem;
}

#segredos-ocultos .cards .card p {
  display: inline-block;
  font-family: var(--font-paragraph);
  font-weight: 400;
  font-size: 1.6rem;
  color: white;
  text-align: left;
}

#segredos-ocultos .cards .card p span {
  font-weight: 800;
}

#segredos-ocultos .button {
  margin-top: 7rem;
}

/*=============== #INFLUENCIA-PROFISSAO ===============*/

#influencia-profissao {
  position: relative;
  z-index: -3;
  background: var(--white-cream);
  overflow-x: visible;
}

#influencia-profissao h5 {
  font-family: var(--font-secondary);
  font-size: 3rem;
  font-weight: 800;
  white-space: nowrap;
  overflow: hidden;
  color: var(--gray);
  opacity: 0.1;
  position: absolute;
  top: -6rem;
  left: 50%;
  transform: translateX(-50%);
  margin-inline: auto;
  line-height: 4.4rem;
}

#influencia-profissao h5 span {
  font-size: 3.8rem;
}

#influencia-profissao .wrapper {
  margin-top: 5rem;
  padding-bottom: 8rem;
}

#influencia-profissao .head {
}

#influencia-profissao .head h2 {
  font-family: var(--font-headline);
  font-size: 3rem;
  color: var(--dark-texts);
}

#influencia-profissao .head p {
  margin-top: 1rem;
}

#influencia-profissao p {
  font-family: var(--font-paragraph);
  color: var(--dark-texts);
}

#influencia-profissao p span {
  font-weight: 700;
}

#influencia-profissao .content {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  margin-top: 5rem;
}

#influencia-profissao .content .texts-1,
#influencia-profissao .content .texts-2 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#influencia-profissao .content .texts-2 p:last-child {
  font-family: var(--font-paragraph);
  color: var(--dark-texts);
  font-weight: 700;
}

#influencia-profissao .content .line {
  width: 100%;
  height: 3px;
  border-radius: 100rem;
  margin: auto;
  background: linear-gradient(268.11deg, #00aaff 0%, #580082 100%);
}

/*=============== #CELEBRIDADE-DIGITAL ===============*/

#celebridade-digital {
  position: relative;
  overflow-x: visible;
  padding-bottom: 10rem;
  z-index: -4;
}

#celebridade-digital .square {
  display: none;
  position: absolute;
  z-index: -1;
  bottom: 7rem;
  right: -16rem;
  filter: blur(15px);
  transform: rotate(60deg);
  width: 20rem;
}

#celebridade-digital::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 120%;
  background: url(./assets/backgrounds/celebridade-digital-background-mobile.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}

#celebridade-digital .wrapper {
  margin-top: 5rem;
}

#celebridade-digital .head {
}

#celebridade-digital .head h2 {
  font-family: var(--font-headline);
  font-size: 3rem;
  color: var(--white-cream);
}

#celebridade-digital .head p {
  font-family: var(--font-paragraph);
  color: var(--white-cream);
  margin-top: 1rem;
}

#celebridade-digital .head p span {
  font-weight: 800;
}

#celebridade-digital .cards {
  margin-top: 4rem;

  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

#celebridade-digital .card {
  text-align: left;
  height: auto;
  padding: 1.2rem 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;

  background: linear-gradient(var(--color-bg), var(--color-bg)) padding-box,
    linear-gradient(to right, var(--purple), var(--blue)) border-box;
  border-radius: 2rem;
  border-bottom: 0.7rem solid transparent;
}

#celebridade-digital .card img {
  width: 4.5rem;
  height: auto;
  min-width: 4.5rem;
  min-height: 4.5rem;
}

#celebridade-digital .card p {
  font-family: var(--font-paragraph);
  font-size: 1.6rem;
  color: var(--black);
}

/*=============== #MERCADO-ESPERANDO ===============*/

#mercado-esperando {
  background: var(--white-cream);
  position: relative;
  overflow-x: visible;
  z-index: 4;
}

#mercado-esperando h5 {
  font-family: var(--font-secondary);
  font-size: 3rem;
  font-weight: 800;
  white-space: nowrap;
  overflow: hidden;
  color: var(--gray);
  opacity: 0.1;
  position: absolute;
  top: -6rem;
  left: 50%;
  transform: translateX(-50%);
  margin-inline: auto;
  line-height: 4.4rem;
}

#mercado-esperando h5 span {
  font-size: 3.8rem;
}

#mercado-esperando .wrapper {
  margin-top: 5rem;
  padding-bottom: 8rem;
}

#mercado-esperando .head {
}

#mercado-esperando .head h2 {
  font-family: var(--font-headline);
  font-size: 3rem;
  color: var(--dark-texts);
}

#mercado-esperando .head p {
  margin-top: 1rem;

  font-family: var(--font-paragraph);
  font-weight: 700;
  color: var(--dark-texts);
  opacity: 0.4;
}

#mercado-esperando .cards {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  margin-top: 5rem;
}

#mercado-esperando .card {
  text-align: left;
  background: white;
  padding: 1.2rem 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;

  background: linear-gradient(var(--color-bg), var(--color-bg)) padding-box,
    linear-gradient(to right, var(--purple), var(--blue)) border-box;
  border-radius: 2rem;
  border-bottom: 0.7rem solid transparent;
}

#mercado-esperando .card p {
  font-family: var(--font-paragraph);
  font-size: 1.4rem;
  color: var(--dark-texts);
}

#mercado-esperando .card img {
  width: 4.5rem;
  height: auto;
  min-width: 4.5rem;
  min-height: 4.5rem;
}

/*=============== #SEJA-INFLUENCER ===============*/

#seja-influencer {
  background: var(--white-cream);
  position: relative;
  overflow-x: visible;
  z-index: 2;

  padding-top: 5rem;
  padding-bottom: 7rem;
}

#seja-influencer .square {
  display: none;
  position: absolute;
  z-index: -1;
  bottom: 1rem;
  left: -10rem;
  filter: blur(15px);
  transform: rotate(60deg);
  width: 20rem;
}

#seja-influencer::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 120%;
  background: url(./assets/backgrounds/seja-influencer-background-mobile.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}

#seja-influencer .wrapper {
}

#seja-influencer .head {
}

#seja-influencer .head h2 {
  font-family: var(--font-headline);
  font-size: 3rem;
  color: var(--white-cream);
}

#seja-influencer .head h3 {
  font-family: var(--font-paragraph);
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--white-cream);
  margin-top: 1rem;
}

#seja-influencer .head h3 span {
  font-weight: 800;
}

#seja-influencer .cards {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

#seja-influencer .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

#seja-influencer .card:nth-child(2) {
  flex-direction: row-reverse;
}

#seja-influencer .card img {
  width: 10rem;
  height: auto;
  min-width: 10rem;
  min-height: 10rem;
}

#seja-influencer .card p {
  font-family: var(--font-paragraph);
  color: var(--white-cream);
  font-size: 1.4rem;
}

#seja-influencer .card p span {
  font-weight: 900;
  background: linear-gradient(268.9deg, #00aaff 0%, #8200bf 98.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/*=============== #MODULOS ===============*/

#modulos {
}

#modulos .wrapper {
}

#modulos .wrapper h2 {
  margin-top: 5rem;
  font-family: var(--font-headline);
  font-size: 3rem;
  color: var(--dark-texts);
}

#modulos .mySwiper {
  margin-top: 5rem;
  width: min(60rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
  /* padding-left: 5rem; */
}

#modulos .swiper-wrapper {
  overflow-x: visible;
  padding-bottom: 5rem;
}

#modulos .mySwiper::before {
  content: "";
  display: none;
  position: absolute;
  pointer-events: none;
  right: 0;
  top: 0;
  width: 100%;
  margin-block: 5rem;
  height: calc(
    100% - 10rem
  ); /* 10rem é o padding bottom pro pagination e o margin top do cards*/
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 1) 90%
  );
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  z-index: 2;
}

#modulos .swiper-wrapper .swiper-slide {
  border-radius: 1.5rem;
  width: 25rem;
  user-select: none;

  background: linear-gradient(var(--color-bg), var(--color-bg)) padding-box,
    linear-gradient(to right, var(--purple), var(--blue)) border-box;
  border-bottom: 0.5rem solid transparent;
}

#modulos .swiper-wrapper .swiper-slide img {
  width: 100%;
  display: block;
}

#modulos .swiper-wrapper .swiper-slide:hover {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
}

#modulos .mySwiper .swiper-button-next,
#modulos .mySwiper .swiper-button-prev {
  width: fit-content;
  height: fit-content;
  user-select: none;
}

#modulos .mySwiper .swiper-button-next::after,
#modulos .mySwiper .swiper-button-prev::after {
  display: none;
}

#modulos .mySwiper .swiper-button-next img,
#modulos .mySwiper .swiper-button-prev img {
  width: 4rem !important;
  height: 4rem !important;
  min-height: 4rem !important;
  min-height: 4rem !important;
}

#modulos .mySwiper .swiper-button-prev img {
  transform: scaleX(-1);
}

/*=============== #SOBRE ===============*/

#sobre {
  position: relative;
}

#sobre .square {
  display: none;
  position: absolute;
  z-index: -1;
  top: 5rem;
  left: -14rem;
  filter: blur(20px);
  transform: rotate(60deg);
  width: 20rem;
}

#sobre .wrapper {
  margin-top: 5rem;
  margin-bottom: 7rem;
}

#sobre .wrapper .picture {
}

#sobre .wrapper .picture {
}

#sobre .wrapper .picture img {
  max-width: 35rem;
}

#sobre .wrapper .texts {
  margin-top: 2.5rem;
}

#sobre .wrapper .texts h3 {
  font-family: var(--font-paragraph);
  font-size: 1.4rem;
  color: var(--dark-texts);
  opacity: 0.4;
}

#sobre .wrapper .texts h2 {
  font-family: var(--font-headline);
  font-size: 3rem;
  color: var(--dark-texts);
  font-weight: 700;
}

#sobre .wrapper .texts p {
  margin-top: 1rem;
  font-family: var(--font-paragraph);
  color: var(--dark-texts);
}

#sobre .mySwiper2 {
  margin-top: 4rem;
}

#sobre .swiper-wrapper {
  overflow-x: visible;
  margin-bottom: 6rem;
}

#sobre .swiper-wrapper .swiper-slide {
  border-radius: 1.3rem;
  width: 13rem;
  user-select: none;
}

#sobre .swiper-wrapper .swiper-slide .views {
  display: flex;
  align-items: center;
  gap: 0.4rem;

  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 0 0.5rem 0.5rem;
}

#sobre .buttons {
  position: absolute;
  width: 14rem;
  height: 4rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-inline: auto;
  z-index: 5;
}

#sobre .mySwiper2 .swiper-button-next,
#sobre .mySwiper2 .swiper-button-prev {
  width: fit-content;
  height: fit-content;
  opacity: 0.7;
  /* user-select: none; */
}

#sobre .mySwiper2 .swiper-button-next::after,
#sobre .mySwiper2 .swiper-button-prev::after {
  display: none;
}

#sobre .mySwiper2 .swiper-button-next img,
#sobre .mySwiper2 .swiper-button-prev img {
  width: 3rem !important;
  height: 3rem !important;
  min-height: 3rem !important;
  min-height: 3rem !important;
}

#sobre .mySwiper2 .swiper-button-prev img {
  transform: scaleX(-1);
}

#sobre .swiper-wrapper .swiper-slide .views svg {
}

#sobre .swiper-wrapper .swiper-slide .views span {
  color: white;
  font-weight: 600;
  font-family: ProximaNova, Arial;
}

#sobre .swiper-wrapper .swiper-slide img {
  width: 100%;
  display: block;
}

/*=============== #RESULTADOS-ALUNOS ===============*/

#resultados-alunos {
  position: relative;
  background: url(./assets/backgrounds/resultados-alunos-mobile-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;
}

#resultados-alunos .square {
  display: none;
  position: absolute;
  z-index: 0;
  top: 5rem;
  left: -14rem;
  filter: blur(20px);
  transform: rotate(60deg);
  width: 20rem;
}

#resultados-alunos .wrapper {
  margin-top: 5rem;
}

#resultados-alunos .wrapper .head {
}

#resultados-alunos .wrapper .head h2 {
  font-family: var(--font-headline);
  font-size: 3rem;
  color: white;
}

#resultados-alunos .wrapper .head h3 {
  margin-top: 1.5rem;
  margin-inline: auto;
  width: 21rem;
  font-family: var(--font-paragraph);
  font-size: 1.4rem;
  color: white;
}

#resultados-alunos .mySwiper3 {
  margin-top: 4rem;
  margin-bottom: 9rem;

  width: min(60rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

#resultados-alunos .swiper-wrapper {
  overflow-x: visible;
  padding-bottom: 7rem;
}

#resultados-alunos .swiper-wrapper .swiper-slide {
  border-radius: 1.5rem;
  width: 25rem;
  user-select: none;
}

#resultados-alunos .swiper-wrapper .swiper-slide img {
  width: 100%;
  display: block;
  overflow-x: visible;
}

#resultados-alunos .buttons {
  position: absolute;
  width: 14rem;
  height: 4rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-inline: auto;
  z-index: 5;
}

#resultados-alunos .mySwiper3 .swiper-button-next,
#resultados-alunos .mySwiper3 .swiper-button-prev {
  width: fit-content;
  height: fit-content;
  /* user-select: none; */
}

#resultados-alunos .mySwiper3 .swiper-button-next::after,
#resultados-alunos .mySwiper3 .swiper-button-prev::after {
  display: none;
}

#resultados-alunos .mySwiper3 .swiper-button-next img,
#resultados-alunos .mySwiper3 .swiper-button-prev img {
  width: 4rem !important;
  height: 4rem !important;
  min-height: 4rem !important;
  min-height: 4rem !important;
}

#resultados-alunos .mySwiper3 .swiper-button-prev img {
  transform: scaleX(-1);
}

/*=============== #BONUS-EXCLUSIVOS ===============*/

#bonus-exclusivos {
  position: relative;
  overflow-x: visible;
  padding-bottom: 15rem;
  z-index: 4;
}

#bonus-exclusivos::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 120%;
  background: url(./assets/backgrounds/bonus-exclusivos-background-mobile.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}

#bonus-exclusivos .wrapper {
  margin-top: 5rem;
}

#bonus-exclusivos h2 {
  font-family: var(--font-headline);
  font-size: 3rem;
  color: white;
}

#bonus-exclusivos h2 span {
  background: linear-gradient(269.66deg, #00aaff 8.55%, #8200bf 60.51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#bonus-exclusivos .cards {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#bonus-exclusivos .card {
  padding: 3rem;
  background: white;
  border-radius: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(var(--color-bg), var(--color-bg)) padding-box,
    linear-gradient(to right, var(--purple), var(--blue)) border-box;
  border-bottom: 0.5rem solid transparent;
}

#bonus-exclusivos .card svg {
  width: 10rem;
  height: 10rem;
}

#bonus-exclusivos .card h3 {
  margin-top: 2rem;
  font-family: var(--font-paragraph);
  color: var(--dark-texts);
  font-size: 1.8rem;
  font-weight: 800;
}

#bonus-exclusivos .card p {
  margin-top: 1rem;
  font-family: var(--font-paragraph);
  color: var(--dark-texts);
  font-weight: 400;
}

#bonus-exclusivos .card p span {
  font-weight: 700;
}

#bonus-exclusivos .card .price {
  margin-top: 4rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  border-radius: 1rem;

  background: linear-gradient(268.91deg, #00aaff 0%, #8200bf 100%);
}

#bonus-exclusivos .card .price p {
  margin-top: 0;
  font-family: var(--font-paragraph);
  color: white;
  font-weight: 800;
}

#bonus-exclusivos .card .price p:nth-child(1) {
  text-decoration: line-through;
  font-weight: 300;
}

#bonus-exclusivos .card .price .line {
  width: 0.2rem;
  height: 3rem;
  /* border-radius: */
  background: var(--blue);
}

/*=============== #INVESTIMENTO ===============*/

#investimento {
  position: relative;
  background: var(--white-cream);
  overflow-y: visible;
  overflow-x: visible;

  padding-block: 5rem 14rem;
  z-index: 3;
}

#investimento::before {
  content: "";
  position: absolute;
  bottom: 0rem;
  left: 0;
  width: 100%;
  height: 120%;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 10%, #fff 80%),
    url(./assets/backgrounds/investimento-background-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  z-index: 0;
}

#investimento .wrapper {
  position: relative;
  z-index: 1;
}

#investimento .wrapper h2 {
  font-family: var(--font-headline);
  font-weight: 900;
  font-size: 4.5rem;

  background: linear-gradient(268.84deg, #00aaff 15.86%, #8200bf 81.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#investimento .wrapper p {
  font-family: var(--font-secondary);
  font-weight: 500;
  color: var(--dark-texts);
  opacity: 0.4;
}

#investimento .wrapper p span {
  text-decoration: line-through;
  font-weight: 800;
  font-size: 2rem;
}

#investimento .wrapper .price-card {
  margin-top: 4rem;
  margin-inline: auto;
  padding: 3rem;
  max-width: 38rem;
  border-radius: 3rem;

  background: linear-gradient(var(--white-cream), var(--white-cream))
      padding-box,
    linear-gradient(to right, var(--purple), var(--blue)) border-box;
  border: 0.5rem solid transparent;
}

#investimento .wrapper .price-card h3 {
  font-family: var(--font-secondary);
  color: var(--dark-texts);
  font-size: 2rem;
}

#investimento .wrapper .price-card p {
  margin-top: 0.5rem;
  font-family: var(--font-paragraph);
  font-size: 1.6rem;
  color: var(--dark-texts);
  opacity: 1;
}

#investimento .wrapper .price-card p span {
  font-weight: 700;
  font-size: 1.6rem;
  text-decoration: line-through;
}

#investimento .wrapper .price-card h2 {
  margin-top: 1.5rem;
  font-family: var(--font-headline);
  font-weight: 600;
  font-size: 2rem;
}

#investimento .wrapper .price-card h2 span {
  font-weight: 900;
  font-size: 5rem;
}

#investimento .wrapper .price-card h4 {
  margin-top: 0.5rem;
  font-family: var(--font-paragraph);
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--dark-texts);
}

#investimento .wrapper .price-card h4 span {
  font-weight: 700;
}

#investimento .wrapper .price-card .button {
  margin-top: 1rem;
}

#investimento .wrapper .price-card img {
  margin-top: 2rem;
  width: 24rem;
}

#investimento .wrapper .price-card .cronometro {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

#investimento .wrapper .price-card .cronometro .time {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#investimento .wrapper .price-card .cronometro h3 {
  font-family: var(--font-secondary);
  font-size: 3rem;
  color: var(--dark-texts);
}

#investimento .wrapper .price-card .cronometro p {
  margin-top: 0;
  font-family: var(--font-secondary);
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--dark-texts);
}

#investimento .wrapper .price-card .line {
  margin-top: 1rem;
  width: 73%;
  height: 0.5rem;
  margin-inline: auto;
  background: linear-gradient(267.82deg, #00aaff 0%, #8200bf 100%);
  border-radius: 5rem;
}

/*=============== #GARANTIA ===============*/

#garantia {
  position: relative;
  overflow-x: visible;
  padding-bottom: 10rem;
}

#garantia::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 110%;
  z-index: -1; /* vai atrás dos elementos que estão no z: 0 padrão*/
  background: linear-gradient(256.39deg, #580082 3.88%, #121214 96.5%);
}

#garantia .wrapper {
  margin-top: 5rem;
}

#garantia .wrapper .img-container {
  width: fit-content;
  margin: auto;
}

#garantia .wrapper .img-container img {
  width: 25rem;
}

#garantia .wrapper .content {
  margin-top: 4rem;
}

#garantia .wrapper .content p {
  font-family: var(--font-paragraph);
  color: white;
  font-size: 1.6rem;
}

#garantia .wrapper .content h3 {
  font-family: var(--font-paragraph);
  color: white;
  font-weight: 900;
  font-size: 2.4rem;

  background-image: linear-gradient(270deg, #00aaff 37.75%, #a221df 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#garantia .wrapper .content .text {
  margin-top: 2rem;
}

#garantia .wrapper .content .button {
  margin-top: 4rem;
}

#garantia .wrapper .content .icons {
  margin-top: 3rem;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

#garantia .wrapper .content .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#garantia .wrapper .content .icon svg {
  width: 4.5rem;
  height: 4.5rem;
}

#garantia .wrapper .content .icon p {
  font-family: var(--font-paragraph);
  font-weight: 700;
  font-size: 1.2rem;
}

/*=============== #FAQ ===============*/

#faq {
}

#faq .wrapper {
  margin-top: 5rem;
  margin-bottom: 8rem;
}

#faq .wrapper h2 {
  font-family: var(--font-headline);
  color: var(--dark-texts);
  font-size: 4rem;
}

#faq .wrapper h3 {
  margin-top: 1rem;
  font-family: var(--font-headline);
  color: var(--dark-texts);
  opacity: 0.4;
  font-size: 2.2rem;
}

#faq .wrapper .cards {
  margin-top: 5rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#faq .wrapper .card {
  background: var(--white-cream-02);
  padding: 1rem;
  overflow: hidden;

  cursor: pointer;

  background: linear-gradient(var(--white-cream-02), var(--white-cream-02))
      padding-box,
    linear-gradient(to right, var(--purple), var(--blue)) border-box;
  border-radius: 0.7rem;
  border-bottom: 0.4rem solid transparent;
}

#faq .wrapper .card.opened {
}

#faq .wrapper .card h4 {
  font-family: var(--font-headline);
  font-size: 1.6rem;
  color: var(--dark-texts);
  opacity: 0.4;
  text-align: left;
}

#faq .wrapper .card p {
  overflow: hidden;
  max-height: 0;

  font-family: var(--font-paragraph);
  color: var(--dark-texts);
  font-weight: 500;
  text-align: left;

  margin-top: 0;
  margin-inline: 2rem;

  transition: all 0.15s ease-out;
}

#faq .wrapper .card.opened p {
  margin-top: 2rem;
  max-height: 200px;

  transition: all 0.25s ease-in;
}

#faq .wrapper .card.opened h4,
#faq .wrapper .card:hover h4 {
  background-image: linear-gradient(270deg, #00aaff 37.75%, #a221df 100%);
  opacity: 1;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*=============== #FOOTER ===============*/

footer {
  background: var(--black);
}

footer .wrapper {
  margin-block: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

footer .wrapper p {
  font-family: var(--font-paragraph);
  color: white;
  font-size: 1.4rem;
}
